* {
	margin: 0;
	padding: 0;

}
.card {
	width: 220px;
	height: 350px;
	border: 5px solid #632108;
	margin-left:6%;
	margin-top: 20px;
	float: left;
	text-align: center;
	padding: 20px;
	color: #632108;
	font-family: 'Europe Bold';
	position: relative;

}
.card button {
	display: block;
	background: #632108;
	text-decoration: none; 
	border: none;
	color: #ff9933;
	width: 180px;
	height: 40;
	position: absolute;
	bottom: 10;
	left: 15%;
	font-family: 'Europe Bold';
	font-size: 18px;

}
header {
	width: 100%;
	height: 80px;
	background: #632108;
}
nav {
	margin-right: 10%;
	float: right;
	display: inline-block;
	margin-top: -50px;
}
nav li {
	display: inline-block;
	font-size: 20px;
	margin-right: 60px;
	font-family: 'Europe Bold';
	text-shadow: black 2px 3px 4px;
}
nav li a {
	text-decoration: none;
	color: #ff9933;
}
figure {
	width: 140px;
	height: 140px;
	background: white;
	border-radius: 50%;
	margin-bottom: 150px;
	position: relative;
	z-index: 5;
	box-shadow: black 4px 5px 6px;
}

/*Слайдер*/
.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: auto;

}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color:white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next{
	right: 8px;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}
.mySlides{
	text-align: center;
	max-height: 700px;
}
.text{
	color: #f2f2f2;
    font-size: 22px;
    padding: 8px 12px;
    position: relative;
    bottom: 90px;
}
.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color:0.6s ease;

}
.active, .dot:hover{
	background-color: #717171;

}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration:1s;
	animation-name:fade;
	animation-duration:1s;
}
/*@-webkit-keyframes fade{
	0%{opacity:0.4;}
	100%{opacity:1;}
}*/
@keyframes fade{
	0%{opacity:0.4;}
	100%{opacity:1;}
}
/*после слайдера*/
#sale {
	width: 80%;
	margin: 2% 10% 2% 10%; 
	height: auto;
}
.imgtovar0001 {
	width: 200px;
	height: 70px;

}

.imgtovar0003 {
	width: 200px;
	margin-top: 30px;
	margin-bottom: 20px;

}
.imgtovar0004 {
	width: 200px;
	height: 122px;
}
.imgtovar0005 {
	width: 200px;
	height: 135px;

}
.imgtovar0006 {
	width: 200px;
	height: 135px;
}
.imgtovar0007 {
	width: 100px;
	height: 165px;
}
.imgtovar0008 {
	width: 130px;
	height: 165px;
}
.imgtovar0009 {
	width: 130px;
	height: 165px;
}
.imgtovar0010 {
	width: 200px;
}
.imgtovar0011 {
	width: 200px;
	height: 100px;
}
.imgtovar0013 {
	width: 160px;
	height: 150px;
}
.imgtovar0014 {
	width: 120px;
	height: 120px;
}
.imgtovar0015	 {
	width: 120px;
	height: 120px;
}
.imgtovar0016	 {
	width: 120px;
	height: 120px;
}
.imgtovar0017	 {
	width: 150px;
	height: 120px;
}
.imgtovar0018	 {
	width: 150px;
	height: 120px;
}
.imgtovar0019	 {
	width: 190px;
	height: 120px;
}
.imgtovar0020 {
	width: 100px;
	height: 120px;
}
.imgtovar0021	 {
	width: 190px;
	height: 120px;
}
.imgtovar0022	 {
	width: 190px;
	height: 120px;
}
.imgtovar0023	 {
	width: 190px;
	height: 120px;
}
.imgtovar0024	 {
	width: 190px;
	height: 120px;
}
.price {
	font-weight: bold;
	color: #ff9933;
	margin-top: 5%;
}
.h2-one {
	font-size: 30px;
	font-family: 'Europe Bold';
	font-weight: bold;
	text-align: center;
	margin: 50px;
}
.one {
	width: 100%;
	height: 700px;
	background: url("images/People_Hunter_with_dogs_in_the_sun_1071301_.jpg") no-repeat;
	background-size: 100%;
}

#mini-cart {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    bottom: 5%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: white; /* Цвет фона */ 
    border: 3px solid #333; /* Параметры рамки */ 
    width: 300px;
    height: auto;
    display: none;
    z-index: 5;
   }
   .text {
    height: 1000px;
   }
   .description {
   	font-size: 12px;
   	font-family: arial;
   }
   .delete {
   	border: none;
   	color white;
   }
 
  